<script type="text/html" id="treeLeafList">
    <li data-bind="css: { selected: $root.selectedItem() === $data }" data-click="selectItem">
        <span data-bind="text: typeName, style: { paddingLeft: $parents.length + 'em' }"></span>
    </li>
</script>

<script type="text/html" id="treeNodeList">
    <li data-click="toggleGroup">
        <span data-bind="text: marketGroupName, style: { paddingLeft: $parents.length + 'em' }"></span>
        <!--ko if: isOpen-->
            <!--ko ifnot: hasTypes-->
                <ul data-bind="template: { name: 'treeNodeList', foreach: childMarketGroups }"></ul>
            <!--/ko-->
            <!--ko if: hasTypes-->
                <ul class="items" data-bind="template: { name: 'treeLeafList', foreach: invTypes }"></ul>
            <!--/ko-->
        <!--/ko-->
    </li>
</script>

<ul data-bind="delegatedHandler: 'click', template: { name: 'treeNodeList', foreach: marketGroups }"></ul>
