@model EveFirstMate.ViewModels.EveViewModel

@{
    ViewBag.Title = "Home";
}

<section id="items">
    <menu id="marketGroups">
        @Html.Partial("_MarketGroups", Model.marketGroups)
    </menu>
    <aside id="itemInfo" style="display: none;">
        <h3 data-bind="text: typeName"></h3>
        <p data-bind="text: description"></p>
    </aside>
</section>
<section id="fitting">
    <div>
        <span>This is where the ship goes.</span>
    </div>
</section>
