/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    background-color: rgba(2, 2, 2, 1.0);
    color: rgba(189, 189, 189, 1.0);
}

body {
    font-size: 62.5%;
    line-height: 1.4em;
    padding: 40px 0 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 1.0);
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

a {
    color: rgba(224, 170, 44, 1.0);
    text-decoration: none;
}

    a:hover {
        color: rgba(245, 251, 99, 1.0);
        text-decoration: underline;
    }

#wrapper {
    width: 90%;
    margin: 0 auto;
    font-size: 1.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #wrapper:before,
    #wrapper:after {
        content: " ";
        display: table;
    }

    #wrapper:after {
        clear: both;
    }

    #wrapper * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

#items {
    width: 35%;
    margin: 0 1%;
    float: left;
}

#fitting {
    width: 61%;
    margin: 0 1%;
    float: left;
}

#marketGroups {
    height: 600px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

#marketGroups a {
    display: block;
    background-color: rgba(2, 2, 2, 1.0);
    color: rgba(189, 189, 189, 1.0);
}

#marketGroups a:hover {
    /*color: rgba(189, 189, 189, 1.0);*/
}

#marketGroups ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}

    #marketGroups li > ul {
        display: none;
    }

    #marketGroups li:hover > ul {
        display: block;
    }


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
